__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.idea/
.vscode/
*.swp
*.swo

anoid.log
config/anoid.json
config/.first_run
DD
fsf.txt
